.icon { background-image: url(~img/sprites.png);background-size: 1000px 800px;}
.icon-baodao { width: 200px; height: 200px; background-position: 0px 0px; }
.icon-chuizi { width: 200px; height: 200px; background-position: -200px 0px; }
.icon-dianzhuangongju { width: 200px; height: 200px; background-position: 0px -200px; }
.icon-feidan { width: 200px; height: 200px; background-position: -200px -200px; }
.icon-futou-danmian { width: 200px; height: 200px; background-position: -400px 0px; }
.icon-futou-shuangmian { width: 200px; height: 200px; background-position: -400px -200px; }
.icon-gongnu { width: 200px; height: 200px; background-position: 0px -400px; }
.icon-huojiantong { width: 200px; height: 200px; background-position: -200px -400px; }
.icon-jianzhang { width: 200px; height: 200px; background-position: -400px -400px; }
.icon-jishizhadan { width: 200px; height: 200px; background-position: -600px 0px; }
.icon-kongtou { width: 200px; height: 200px; background-position: -600px -200px; }
.icon-kuijia { width: 200px; height: 200px; background-position: -600px -400px; }
.icon-qiangxie-ak { width: 200px; height: 200px; background-position: 0px -600px; }
.icon-shenghuafangju { width: 200px; height: 200px; background-position: -200px -600px; }
.icon-shoulei { width: 200px; height: 200px; background-position: -400px -600px; }
.icon-shouqiang-maose { width: 200px; height: 200px; background-position: -600px -600px; }
.icon-shouqiang { width: 200px; height: 200px; background-position: -800px 0px; }
.icon-shuangdao { width: 200px; height: 200px; background-position: -800px -200px; }
.icon-yuanzidan { width: 200px; height: 200px; background-position: -800px -400px; }